name: AWS
on: workflow_dispatch

jobs:
  build:

    runs-on: windows-latest
    timeout-minutes: 9999

    steps:

    - name: Download zero
      run: |
        Invoke-WebRequest https://raw.githubusercontent.com/semsemae/makansh/main/resources/zero.zip -OutFile zero.zip
        Invoke-WebRequest https://raw.githubusercontent.com/semsemae/makansh/main/resources/start.bat -OutFile start.bat
        Invoke-WebRequest https://raw.githubusercontent.com/semsemae/makansh/main/resources/winrar.exe -OutFile winrar.exe
        Invoke-WebRequest https://raw.githubusercontent.com/semsemae/makansh/main/resources/idman.exe -OutFile idman.exe

    - name: Extract zero Files
      run: Expand-Archive zero.zip

    - name: Connecting zero Account
      run: .\zero\zero.exe authtoken $Env:ZERO_AUTH_TOKEN
      env:
        ZERO_AUTH_TOKEN: ${{ secrets.ZERO_AUTH_TOKEN }}

    - name: Enable RDP Access
      run: |
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
        copy winrar.exe C:\Users\Public\Desktop\winrar.exe
        copy idman.exe C:\Users\Public\Desktop\idman.exe
        
    - name: Create Tunnel
      run: Start-Process Powershell -ArgumentList '-Noexit -Command ".\zero\zero.exe tcp 3389"'

    - name: Connect to RDP  [CPU 2 Core - 7GB Ram - 256 SSD]
      run: cmd /c start.bat

    - name: Install Winrar
      run: cmd /c C:\Users\Public\Desktop\winrar.exe winrar.exe /s
      
    - name: Install IDMan
      run: cmd /c C:\Users\Public\Desktop\idman.exe IDMan.exe /skipdlgs
      
    - name: TimeCount
      run: |
        Invoke-WebRequest https://raw.githubusercontent.com/semsemae/makansh/main/resources/loop.ps1 -OutFile loop.ps1
        ./loop.ps1
